@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.App {
  min-height: 100vh;
}

Layout {
  min-height: 100vh;
}

PageHeader {
  min-height: 5vh;
}

Content {
  min-height: 80px;
  padding: 0 48px;
}

.content {
  width: 100%;
  height: 100%;
}

.content {
  /*background: white;*/
  min-height: 85vh;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

#content {
  background: linear-gradient(
          160deg, #363741 90%, #14F1DA
  );
}
