.user-card-container {
  margin-left: 20px;
  margin-right: 100px;
  width: 30%;
}

.username {
  font-size: 30px;
  font-weight: lighter;
}

.user-stats {
  margin-top: 10%;
  font-size: 20px;
  font-weight: lighter;
  color: black;
}

.divider {
  float: left;
}

.following-num {
  float: left;
}

.fans-num {
  float: left;
}

.likes-num {
  float: left;
}

.doutok-id {
  float: left;
}

.edit-button {
  float: right;
}

.buttons {
  margin-top: 5%;
}
